body {font-family: Verdana, helvetica, serif;}


a {text-decoration:none}
button {background: url(/hostool/img/skins/system/button-bg.gif) repeat-x scroll 0%;border:1px solid #CCCCCC;color:#FFFFFF;cursor:pointer;font-size:11px;font-weight:bold;}
button.disabled {background: url(/hostool/img/skins/system/button-bg-disabled.gif) repeat-x scroll 0%;color:#CDCDCD;}






/* Header (cabeçalho) */
#header {background:#ff6600 url(http://www.hostool.com.br/template/imagens/back_topo.jpg) repeat-x bottom; border-bottom: 4px solid #948979;}
#header h1 {background:url(http://www.hostool.com.br/imagens/logo_ht.gif) no-repeat;}
/* Container */
#container {font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;font-size: 11px;background-color: #FFF;}
/* Content */
#content h1, #TB_ajaxContent h1 {background:transparent url(http://www.hostool.com.br/css/padrao/imagens/dot_pattern.gif) repeat-x scroll center bottom;color:#FE6500;font-size:12px;font-weight:bold;}
/* Footer (rodapé) */
#footer {background:#575352;}
#footer p {color:#89817f;padding:5px;text-align:center;}
#footer p a {color: #89817f;border-bottom: 1px dotted #89817f; font-size:12px;}
#footer p a:hover {color: #FFFFFF;background-color:#575352;}








fieldset legend {color:#EE6200;font-size:12px;font-weight:bold;}
fieldset p label {background-color:#E2E3EB;font-size:12px;font-weight:bold;text-align:right;}

/* Botão ativo padrão */

/* Botão inativo padrão */




/*
*/

label.error {background:none;color:#FF0000;border:none;font-style:italic;font-weight:normal;text-align:left;}











/*
div.footer {
z-index:1000;
background:#575352;
}
*/


div.footer p a:hover {

}
*/